*{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}   

#container{
    width: 300px;
    margin: auto;
    text-align: center;
    position: relative;
}
.top, .top > strong{
    font-size: 18px;
    padding: 0 10px;
    border: none;
}
span {
    display: inline-block;
}

button{
    background-color: #fff;
    /*padding: 5px;*/
    width: 27px;
    height: 27px;
    border: 1px #c2c2d6 solid;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

button:focus{
    outline: none;
}

#addEvent{
    border: none;
    font-size: 40px;
}

.events:before{
    content: ' \25CF';
    font-size: 15px;
    color: #f4c842;
}